header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}


.mainHead {
    font-size: 500px;
}



.bg-style 
{
    background-color: rgb(197, 197, 197);
    transition: background-color 0.5s;
}
.bg-style:hover
{
    background-color: white;
    cursor: pointer;
}

.searchButton 
{
    background-color: rgb(4, 4, 58);
    border: none;
}

.bg-property 
{
    background-color:rgb(244, 243, 243) ;
}

.height1 , .height2
{
    height: 50vh;
}

.bg-featured-property 

{
    background-color:whitesmoke ;

}

textarea 
{
    resize: none;
    width: 100%;
    border-radius:5px;
    border: solid 1px rgb(218, 218, 218);
}

textarea:focus 
{
    outline: none !important;
}