@media screen and (min-width:992px) {
    #menu 
    {
        display: none;
    }

}


.loginButton 
{
    background-color: rgb(6, 6, 94);
    color: white !important;
}
.loginButton:hover 
{
    background-color: rgb(3, 3, 39);
}


